<a href="https://colab.research.google.com/github/Fredrick-kyalo/Text_classification/blob/main/Textclassification_nltk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install nltk -q

In [ ]:
import nltk
nltk.download("stopwords")
nltk.download("punkt")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

This is an ICS class.

In [ ]:
!pip install datasets -q

     |████████████████████████████████| 441 kB 4.8 MB/s
     |████████████████████████████████| 212 kB 47.2 MB/s
     |████████████████████████████████| 163 kB 46.5 MB/s
     |████████████████████████████████| 115 kB 58.2 MB/s
     |████████████████████████████████| 95 kB 4.9 MB/s
     |████████████████████████████████| 127 kB 61.0 MB/s
     |████████████████████████████████| 115 kB 59.3 MB/s

In [ ]:
from datasets import load_dataset

dataset = load_dataset("tweet_eval", "emoji")

In [ ]:
dataset

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 45000
    })
    test: Dataset({
        features: ['text', 'label'],
        num_rows: 50000
    })
    validation: Dataset({
        features: ['text', 'label'],
        num_rows: 5000
    })
})

In [ ]:
texts= dataset['validation']['text']
labels= dataset['validation']['label']

print(len(texts),len(labels))

5000 5000

In [ ]:
import pandas as pd

df = pd.DataFrame()

In [ ]:
df['texts'] = texts
df['labels'] = labels
df

In [ ]:
df['labels'].value_counts()

In [ ]:
df=df[df['labels'].isin([1,2])]
df.head()

In [ ]:
df['labels'].value_counts()

1    521
2    504
Name: labels, dtype: int64

In [ ]:
#Text Pre-processing

print(df['texts'].iloc[2])

livinginparadise  ramada plaza beach resort

In [ ]:
df['texts']= df['texts'].str.replace('@','')
df['texts']= df['texts'].str.replace('#','')
df['texts']= df['texts'].str.replace('\d+','')
df['texts']= df['texts'].str.replace('/','')
df['texts']= df['texts'].str.lower()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df

                                                  texts  labels
4                   who never...  a galaxy far far away       2
5     dinner in fla tonight  pan-seared salmon over ...       1
12          livinginparadise  ramada plaza beach resort       1
18                       because  more days  echo beach       1
21         when the sun hit you but you just still cute       1
...                                                 ...     ...
4963  my son last night poopybaby  alex vargas' hear...       2
4966  user i am so jealous you look like you're havi...       1
4969  tomycity spacemountain papabearandi straight u...       2
4993  these are a few of my favorite things newmexic...       1
4999  it's been  hours with her and she still hasn't...       2

[1025 rows x 2 columns]

In [ ]:
import itertools

vocab = list(itertools.chain.from_iterable(df2['texts']))
vocab =list(set(vocab))
len(vocab)

56

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(ngram_range=(2, 2))
tfidf.fit(df2['texts'])
tfidf = tfidf.transform(df2['texts'])
print(tfidf.shape)

NameError: ignored

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

bow = CountVectorizer()
bow.fit(df2['texts'])

NameError: ignored

In [ ]:
bow=bow.transform(df2['texts'])
print(bow.shape)

In [ ]:
from sklearn.model_selection import train_test_split as ts
Xt, Xts,yt,yts=ts(bow,df2['labels'])

from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score as acc

knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(Xt,yt)
knn_pred = knn.predict(Xts)
print(acc(knn_pred,yts))

nb=MultinomialNB
nb.fit(Xt,yt)
nb_pred = nb.predict(Xts)
print(acc(nb_pred,yts))